{% extends '::base.html.twig' %}

{% block body %}
<div id="content">
    {% for menu in menus %}
    <h1>{{ menu.id }} {{ menu.nombre }}</h1>
    <h2>${{ menu.precio }}</h2>
    <p>{{ menu.descripcion }}</p><br />
    {% endfor %}
</div>
{% endblock %}
