{% extends '::base.html.twig' %}

{% block title %} Pedidos -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      {% block titulo %}
      <h2>Arauco y Constitución S.A.</h2>
      {% endblock %}
      <h4><i>Sembremos futuro</i></h4>
      <p>Pedido</p>
      </br>
	<p class="text">Click on a bar in the plot below to update the text box.</p>

			<p class="text">You Clicked: 
			<span id="info3">Nothing yet.</span>

		</p>

		<div id="chart3" style="width:400px; height:300px;"></div>
	</br></br>
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
