<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@AraucoBaseBundle/Resources/public/css/*' filter='yui_css'%}
        {% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}
        {% endstylesheets %}
        
        {% javascripts
            '@AraucoBaseBundle/Resources/public/js/jquery.js'
            '@AraucoBaseBundle/Resources/public/js/jquery-ui.js'
            '@AraucoBaseBundle/Resources/public/js/*'
            filter='yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <h1>h1 Heading</h1>
        <h2>h2 Heading</h2>
        <h3>h3 Heading</h3>
        <h4>h4 Heading</h4>
        <h5>h5 Heading</h5>
        <h6>h6 Heading</h6>
        {% endblock %}
        {% block javascripts %}

        {% endblock %}
        {% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
    </body>
</html>
