{% extends '::base.html.twig' %}

{% block title %} Balance de masa -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      {% block titulo %}
      <h2>Arauco y Constitución S.A.</h2>
      {% endblock %}
      <table class="table">
        <thead>
          <tr>
            <th>Código Material</th>
            <th>Material</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          {% for item in stock %}
          <tr>
            <th>{{ item.Material }}</th>
            <th>{{ item.Desc_Mat }}</th>
            <th>{{ item.Suma }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
     <br />
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
