{% extends 'AraucoBaseBundle:Stock:docPos.html.twig' %}

{% block title %} Stock Simulado FPE -{% endblock %}
{% block titulo %}
<legend>Stock Simulado FPE</legend>
{% endblock %}
{% block csv %}
<a class ="text-info" href="{{ path ('arauco_stock_docpos_fpe_csv', {'docentrega': docentrega, 'pospedido': pospedido }) }}">Exportar a .csv <i class="icon-download-alt"></i></a>
{% endblock %}
