{% extends '::base.html.twig' %}

{% block title %} Stock sin Asignar -{% endblock %}

{% block content %}
<div class="tab-content">
  {% block body %}
  <div class="tab-pane active" id="inicio">
    <div class="hero-unit">
      <p>Stock sin asignar = {{ total }} lotes.</p>
	  <table class="table">
	  <thead>
	  <tr>
	  <th>Lote</th>
	  <th>Material</th>
	  <th>Descripción</th>
	  </tr>
	  </thead>
	  <tbody>
      {% for material in stocksa %}
	  <tr>
	  <th>{{ material.Lote }}</th>
	  <th>{{ material.Material }}</th>
	  <th>{{ material.Desc_Mat }}</th>
	  </tr>
  {% endfor %}
	  </tbody>
	  </table>
      </br>
    </div> <!-- hero-unit -->
  </div> <!-- tab-pane active -->
  {% endblock %}
</div> <!-- tab-content -->
{% endblock %}
